@charset "UTF-8";
#hm-angle {
	margin: 5px;
}
#hm-padding-control {
	padding: 13px 20px;
}
#hm-number-box{
	padding-left: 30px;
	padding-right: 30px;
}
#reply_div{
	padding-left: 30px;
}
#reply_textarea {
	padding: 9px 12px;
	margin-left: -15px;
	margin-top: 15px;
	overflow: hidden;
	
}
#reply_submit{
	padding: 3px 20px;
	line-height: 43px;
	font-size: 17px;
}