#grand-total-yellow-box-size {
	width: 100% !important;
}

#grand-total-button-box-size {
	width: 100% !important;
}

#hm-cart-button {
    float: right;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
